WpfApp1/DAL/Connected Services/ServiceNS/ShopServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54871/ShopServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDotNet.DataContracts" />
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFDotNet.DataContracts" minOccurs="0" name="GetUserResult" nillable="true" type="q1:DCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDCItemFromShop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDCItemFromShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFDotNet.DataContracts" minOccurs="0" name="GetDCItemFromShopResult" nillable="true" type="q2:ArrayOfDCItemFromShop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserOffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserOnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFDotNet.DataContracts" minOccurs="0" name="DCSaleItems" nillable="true" type="q3:ArrayOfDCSaleItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsFromProvider">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsFromProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFDotNet.DataContracts" minOccurs="0" name="GetItemsFromProviderResult" nillable="true" type="q4:ArrayOfDCItemFromProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFDotNet.DataContracts" minOccurs="0" name="BuyItems" nillable="true" type="q5:ArrayOfDCBuyItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>